<%= content_for(:title) do %>
  Et...Rance
<% end %>

<%= content_for(:description) do %>
  <%# TODO %>
<% end %>

<div id="banner">
  <div id="card-brand">
    <h1>Et...Rance</h1>
    <br>
    <p>Association d'art contemporain, sur les rives de la Rance.</p>
    <br>
    <%= link_to 'Découvrez Et..Rance', page_path('presentation'), class:"btn btn-send"%>
  </div>
</div>

<div id="subscribe">
  <div class="text-center light-padded">
    <h2>Gardons contact...</h2>
    <p>Recevez nos invitations en avant première!</p>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-sm-offset-4">
         <%= form_tag subscriber_path, class:"form-group form-inline" do %>
            <%= email_field_tag :email, nil, { placeholder: 'contact@email.com', class: 'form-control' } %>
            <%= submit_tag "Me tenir informé", { class: 'btn btn-primary' }%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Map -->
<div id="map" style="width: 100%; height: 400px;"></div>

  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

  <script type="text/javascript">
  var myLatlng = new google.maps.LatLng(48.442256,-2.038402);

  var myOptions = {
    zoom: 12,
    center: myLatlng,
    scrollwheel: false,
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    styles: [] // TODO: replace [] by array from https://snazzymaps.com/
  };

  var map = new google.maps.Map(document.getElementById('map'), myOptions);
  var marker = new google.maps.Marker({
    position: myLatlng,
    map: map,
    title: "You are here!"
  });
  </script>